@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --accent-color: #c97ef7;
    --base-color: rgb(255, 255, 255);
    --text-color: #8f06f1;
    --input-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;

}

html {
    font-family: "Roboto Mono", monospace;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}

body {
    min-height: 100vh;
    background-image: url(/img/space.jpg);
    background-size:contain;
    background-position: right;
    overflow: hidden;
}

.wrapper {
    box-sizing: border-box;
    background-color: var(--base-color);
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {

    width: 100%;
    max-width: 450px;
    padding: 30px;
    background-color: var(--base-color);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

form {
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form>div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    fill: var(--base-color);
    color: var(--base-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: var(--input-color);

}

form input:hover {
    border-color: var(--accent-color);
}

form input:focus {
    outline: none;
    border-color: var(--text-color)
}

div:has(input:focus)>label {
    background-color: var(--text-color);

}

form input::placeholder {
    color: var(--text-color);
    opacity: 1;
}

form button {
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: var(--accent-color);
    color: var(--base-color);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 100ms ease;

}

form button:hover {
    background-color: var(--text-color);
}

form button:focus {
    outline: none;
    background-color: var(--text-color);

}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:hover {
    text-decoration: underline;
}

@media(max-width:1100px) {
    .wrapper {
        width: min(600px, 100%);
        border-radius: 0;
    }
}